Pillow~=8.1.0
PySide2~=5.15.2
opencv-python~=4.4.0.46
numpy~=1.19.5
tensorflow~=2.3.1
dataclasses~=0.6
six~=1.15.0
scipy~=1.5.4
sklearn~=0.0
scikit-learn~=0.23.2
setuptools~=50.3.2
matplotlib~=3.3.3
PyYAML~=5.4.1
h5py~=2.10.0
termcolor~=1.1.0
PyQt5~=5.15.2
imutils~=0.5.3

tensorboard>=2.2
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# logging -------------------------------------
# wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools>=2.0  # COCO mAP